#ipBtn
   {
      font-size: 25px;
      font-family:'Gill Sans MT';
      width: 170;
      height:70;
      color:rgb(255, 255, 255);
      border-radius: 6px;
      border:0px;
      background-color: crimson;
      box-shadow: -1.5px 8px 0.8px rgb(170, 9, 9);
      
   }
   #login{
    color: azure;
    border: 7px solid ;
    font-size: 30px;
    text-align: right;
 }
   
 #ipBtn:active
   {
      box-shadow: -2px 3px rgb(128, 40, 40);
      transform:translatey(8px);     
   }
body{
    background-color: rgb(212, 212, 212);

}
p{
    font-size: 40;
}
span{
    color:rgb(225, 255, 53);
    font-family: rockwell;
    background-color: black;
}

#riddleInput,#riddleAns
{
    font-size: 40;    
    border:5px solid rgb(37, 236, 19); 
    background-color:coral 
   
}
#riddleInput:focus,#riddleAns:focus
{
    background-color: crimson;
    color: rgb(143, 255, 188);
   
}
#h1
{
 text-align: center;
 font-size:73; 
 color: rgb(256, 12, 0);
 background-color: rgb(133, 22, 22);
 font-family:broadway;
}

body
{
   background-image:url("download.png");
   background-repeat:repeat-y;
   background-size:1580px 1150px;
   background-position-x: center;
   background-position-y:50px;
}